body {
    display: flex; 
    flex-direction: column;
    overflow-y: auto;
    margin:0;
}

body h2{
  padding: 20px;
}

.wrapper {
    display: flex;  
    flex-flow: row wrap;
    text-align: center;
    min-height: 100vh; /* Asegura que el wrapper ocupe al menos la altura de la ventana */
    /*overflow-y: auto;*/
  }
  
  .wrapper > * {
    padding: 10px;
    flex: 1 100%;
  }
  
.header {
    height: 20%;
    background: linear-gradient(90deg, #1e222b 0%, #000000 100%);
    justify-content: center;
    align-content:center;
}

.header h1 {
  font-size: 60px; 
  font-weight: bold; 
  background: linear-gradient(90deg, #ffffff, #2c92c2); 
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
}


.footer {
    height: 10%;
    background: linear-gradient(90deg, #1e222b 0%, #000000 100%);
}

.footer p {
  font-size: 15px; 
  font-weight: bold; 
  background: linear-gradient(90deg, #ffffff, #2c92c2); 
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
}
  
.main {
    text-align: left;
    height: 70%;
    flex-grow: 1; /* Permite que el contenido principal crezca según el contenido */
    /**/
}

.main h2 {
  font-weight: bold; 
  background: linear-gradient(90deg, #2f2f31, #3b4246); 
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
}

.main p {
  justify-content: center;
  align-content:center;
}

.card {
  display: flex;  
  flex-flow: row wrap;
  justify-content: center;
  align-content:center;
  margin:0;
}

.card img {
  justify-content: center;
  align-content:center;
  height: 60%;
  width:90%;
}

  .aside-1 {
    background: rgb(255, 255, 255);
  }
  
  .aside-2 {
    background: rgb(255, 255, 255);
  }
  
  @media all and (min-width: 600px) {
    .aside { flex: 1 0 0; }
  }
  
  @media all and (min-width: 800px) {
    .main    { flex: 3 0px; }
    .aside-1 { order: 1; } 
    .main    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; }
  }